* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  display: flex;
  font-family: Montserrat;
}
.container {
  width: 768px;
  margin: 0 auto;
}
.mainaboutme {
  padding: 10px;
}
.specific {
  width: 160px;
  height: 14px;
  color: #e3630e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 40px;
}

.fullname {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  padding-top: 5px;
}
.mydiscription {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 24px;
  margin-left: 40px;
  margin-right: 60px;
}
.projecttitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 40px;
  margin-bottom: 15px;
}
.project-menu {
  display: flex;
  flex-direction: column;
}
.number {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 18px;
  letter-spacing: 0.42px;
}
.dots {
  display: none;
}
.linkproject {
  color: #595959;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  padding-top: 15px;
  /* padding-right: 40px; */
}
.number a :hover {
  color: #e3630e;
}
.skills {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-family: "Montserrat - Bold";
  font-weight: 700;
  letter-spacing: 0.42px;
  font-family: "Montserrat - Bold";
  font-weight: 700;
  letter-spacing: 0.42px;
  font-family: "Montserrat - Regular";
  font-weight: 400;
  letter-spacing: 0.42px;
  color: #000000;
  font-family: "Montserrat - Regular";
  font-weight: 400;
  letter-spacing: 0.42px;
}
.mywork {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 40px;
  padding-right: 40px;
}
.datawork {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.myfirstexpierens {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.markerexspierens {
  margin-left: 15px;
}
.myworktitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 10px;
  padding-right: 40px;
  margin-bottom: 15px;
}
.workexperience {
  color: #ff6b08;
  letter-spacing: 0.48px;
}
.educationtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 40px;
  margin-bottom: 15px;
}
.education {
  padding-top: 10px;
  color: #ff6b08;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
}
.markeducation {
  margin-left: 15px;
}
.position {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  padding-top: 10px;
  padding-left: 15px;
}
.data {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}
.saitbar {
  width: 100%;
  background: #1e2939;
  padding-top: 40px;
  padding-bottom: 40px;
}
.myfoto {
  object-fit: cover;
  width: 100%;
}
.letera {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 800;
  padding-left: 20px;
}
.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  letter-spacing: 0.42px;
  text-decoration: underline;
}
.contacts-link {
  font-size: 14px;
}
.contacts-link a:hover {
  color: #e3630e;
}
.contactstitle {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 20px;
  padding-top: 40px;
}
.social {
  margin-top: 15px;
  object-fit: cover;
  width: 18px;
}
.social-icon a :hover {
  background: #e3630e;
}
.techskillstitle {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 25px;
  padding-right: 40px;
  padding-left: 20px;
}
.softtitle {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 20px;
  padding-top: 20px;
}
.techskills {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}
.dotli {
  color: #e3630e;
}
.techskilscontener {
  padding-left: 40px;
}
.softskillscontener {
  padding-left: 40px;
}
.education-link a:hover {
  color: #e3630e;
}
.education-link a {
  color: #595959;
  font-size: 14px;
}

@media (min-width: 640px) {
  .fullname-wrapper {
    display: flex;
  }
  .fullname {
    margin-top: 10px;
    margin-right: 10px;
  }
  .number {
    flex-direction: row;
  }
  .dots {
    display: none;
  }
  .linkproject {
    padding-right: 40px;
  }
}
@media (min-width: 768px) {
  .container {
    display: flex;
    width: 1400px;
  }
  .mainaboutme {
    background: #ffffff;
    padding-left: 30px !important;
  }
  .mydiscription {
    font-size: 10px;
    padding: 0px;
  }
  .linkproject {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    padding-top: 15px;
    padding-right: 40px;
  }
  .number {
    flex-direction: column;
  }
  .dots {
    display: none;
  }

  .fullname {
    font-size: 21px;
  }
}
@media (min-width: 1000px) {
  .saitbar {
    width: 450px;
  }
  .fullname {
    margin-right: 10px;
  }
  .number {
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 2400px;
  }
  .saitbar {
    width: 700px;
  }
  .dots {
    display: block;
  }
  .mainaboutme {
    padding-top: 200px !important;
  }
  .fullname {
    font-size: 45px;
  }
}
